.card{
    margin: 35px;
    border: 1px solid black;
    text-align: center;
    padding: 10px 0 5px;
    background-color: white;
    height: 300px;
    img{
        width: 50px;
    }
    p{
        padding: 2px;
    }
}