
<div class="selection">
  <input type="button" value="Weather" (click)="displayWeather()" >
  <input type="button" value=" Crypto Currency" (click)="displayCryptoData()">
  <input type="button" value="Tv Schedule" (click)="displayTvSchedule()">
  <input type="button" value=" 4th API">
</div>

<div *ngIf="(weatherData.length > 0) && (showData=='weather')">
  <app-weather-card *ngFor="let i of weatherData" [weather_data]="i">
  </app-weather-card>    
</div>

<div *ngIf="(cryptoCurrency.length > 0) && (showData=='crypto')">
  <app-crypto-card *ngFor="let i of cryptoCurrency" [crypto_data]="i">
  </app-crypto-card>
</div>

<div *ngIf="(tvData.length > 0) && (showData=='tv schedule')">
  <app-tv-schedule-card *ngFor="let i of tvData" [tv_data]="i">
  </app-tv-schedule-card>
</div>

<div *ngIf="(jobData.length > 0) && (showData=='jobs')">
  <app-job-list-card *ngFor="let i of jobData">
  </app-job-list-card>
</div>