.card{
    h2{
        text-align: center;
        border-bottom: 1px solid black;
    }
    padding: 5px;
    border: 1px solid black;
    margin: 35px auto;
    width: 60%;
    background-color: white;
}